<div class="login-page">
    <div class="card login-card p-5">
        <div class="card-body login-card-body">
            <div class="social-auth-links text-center mb-3">
                
                <a routerLink="/home" class="btn btn-block btn-outline-danger">
                    <i class="fab fa-google mr-2"></i> Continue with Google
                </a>

                <img src="assets/img/dashboard_logo.png" alt="logo.png" class="brand-image img-circle elevation-3 mt-5" style="opacity: .8">
            </div>
        </div>
    </div>
</div>