<div class="login-page">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg"><strong>Sign in to start your session</strong></p>

            
            <div class="social-auth-links text-center mb-3">
                
                <a routerLink="" class="btn btn-block btn-outline-danger">
                    <i class="fab fa-google mr-2"></i> Continue with Google
                </a>

                <img src="assets/img/dashboard_logo.png" alt="logo.png" class="brand-image img-circle elevation-3 mt-4" style="opacity: .8">
            </div>
        </div>
    </div>
</div>